
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="box-shadow: 3px 3px 3px 3px #000; margin-left:100px; margin-right:50px; background-color:#fff">
    <h1>Yabancı Dil Bilgisi </h1>
    <table>
        <tr><td>İngilizce</td></tr>
        <tr><td>Fransızca</td></tr>



    </table>
</div>
