
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    
    <div style="box-shadow: 3px 3px 3px 3px #000; margin-left:100px; margin-right:50px; background-color:#fff">
        <h1>Hakkımda</h1>
        <table>
            <tr><td>Ad-Soyad:</td><td>Çağatay Topaç</td></tr>
            <tr><td>Doğum Tarihi:</td><td>23.04.1997</td></tr>
            <tr><td>Milliyeti:</td><td>TC</td></tr>
            <tr><td>Sürücü Belgesi:</td><td>B</td></tr>
            <tr><td>Askerlik Durumu:</td><td>Tecilli</td></tr>


        </table>
    </div>

