
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>info</title>
</head>
<body style="background-color:rgba(27, 27, 27, 0.85)">
    <div style="width:100%;  background-color:#341111;height:60px">
        <table style="border:2px; background-color: #341111; width:100%; font-size:20px ">
        <tr style="height:50px">
            <td><a style="color:#fff" href="/info">Hakkımda</a></td>
            <td><a style="color:#fff" href="/Contact">İletişim</a></td>
            <td><a style="color:#fff" href="/education">Eğitim Bilgileri</a></td>
            <td><a style="color:#fff" href="/language"> Yabancı Dil Bilgisi</a></td>
            <td><a style="color:#fff" href="/certificate"> Kurs/Sertifika Bilgileri</a></td>
        </tr>
        </table>
    </div>
    
    <div style="box-shadow: 3px 3px 3px 3px #000; margin-left:100px; margin-right:50px; background-color:#fff">
        <h1>Hakkımda</h1>
        <table>
            <tr><td>Ad-Soyad:</td><td>Çağatay Topaç</td></tr>
            <tr><td>Doğum Tarihi:</td><td>23.04.1997</td></tr>
            <tr><td>Milliyeti:</td><td>TC</td></tr>
            <tr><td>Sürücü Belgesi:</td><td>B</td></tr>
            <tr><td>Askerlik Durumu:</td><td>Tecilli</td></tr>


        </table>
    </div>
</body>
</html>
