
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="box-shadow: 3px 3px 3px 3px #000; margin-left:100px; margin-right:50px; background-color:#fff">
    <h1>Kurs/Sertifika Bilgileri </h1>
    <table>
        <tr><td>Softtech Katılım Belgesi</td></tr>
        <tr><td>Elektrik-Elektronik Teknisyenliği İşyeri Açma Belgesi</td></tr>
        <tr><td>Diksiyon Belgesi</td></tr>
        <tr><td>Fransızca Dil Eğitimi Sertifikası</td></tr>




    </table>
</div>
