
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div style="box-shadow: 3px 3px 3px 3px #000; margin-left:100px; margin-right:50px; background-color:#fff">
        <h1>İletişim</h1>
        <table>
            <tr><td>Adres Bilgileri:</td><td>Edirne</td></tr>
            <tr><td>Cep Telefonu:</td><td>0534-293-13-06</td></tr>
            <tr><td>E-Posta:</td><td>cagataytopac@outlook.com</td></tr>



        </table>
    </div>


